    <input class="form-control" type="search" name="name" placeholder="Clavecin bien tempéré..." hx-get="parts/disc-search-results"
      hx-params="*" hx-trigger="refreshSearch from:body, input changed, name" hx-target="#search-results" hx-swap="innerHTML"
      hx-indicator="#search-loader">
    <table class="table">
      <tbody id="search-results">
      </tbody>
    </table>