<input class="form-control" type="search" name="name" placeholder="Clavecin bien tempéré..."
  hx-get="parts/disc-search-results" hx-params="*" hx-trigger="refreshSearch from:body, input changed delay:3, name"
  hx-target="#search-results" hx-swap="innerHTML" hx-indicator="#search-loader" value="{{#if current-search}}{{current-search}}{{/if}}">
<table class="table">
  <tbody id="search-results">
    {{> disc_search}}
  </tbody>
</table>