<html>

<head>
  <meta charset="utf-8">
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" />
  <script src="https://kit.fontawesome.com/ab9bd50c60.js" crossorigin="anonymous"></script>
  <title>Ma collection de disques</title>
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li> <i class="fa-solid fa-compact-disc fa-2xl"></i> <strong>Ma collection de disque</strong></li>
      </ul>
      <ul>
        <li>
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          <a href="#" hx-get="views/search" hx-trigger="click" hx-target="#main-panel">Recherche</a>
        </li>
        <li>
          <i class="fa-solid fa-cubes-stacked fa-lg"></i>
          <a href="#" hx-get="views/collection" hx-trigger="click, refreshCollection from:body"
            hx-target="#main-panel">Collection</a>
        </li>
      </ul>

    </nav>
  </header>
  <main class="container">
    <span aria-busy="true" id="search-loader" class="htmx-indicator">
    </span>


    <div id="main-panel">
      {{> recherche}}
    </div>
  </main>
</body>

</html>